@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Outfit:wght@300&family=Poppins:wght@200;500&display=swap");
/* this all selector selects everything every single element */
/* 3183AB blue
F37564 pink*/
/* css variables */
:root {
  --blue: #3183ab;
  --pink: #f37564;
  --grey: #f9f9f9;
  --darkgrey: #2c3333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  overflow-x: hidden;
  /* background-image: url("NetflixBGImage.jpg"); */
}

li,
a,
button {
  font-weight: 400;
  font-size: 1rem;
  color: rgb(53, 53, 53);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
  background-color: rgba(233, 233, 233, 0.6);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(8px);
  position: fixed;
  width: 100vw;
  height: 50px;
  z-index: 100; /*z index to keep the navbar in front always*/
}
/* logo styling */
.logo {
  box-sizing: border-box;
  height: 100%;
  margin-right: 3rem;
}

/* each li is set to inline block so that they don't appear on top of each other */
header li {
  display: inline-block;
  height: 100%;
}

/* nav just contains the li elements in between */

nav {
  width: fit-content;
  display: flex;
  justify-content: center;
}
nav ul li {
  font-weight: 700;
  padding: 0 20px;
  transition: all 0.3s 0s;
}

/* .cta is the cta button containers */
.cta {
  display: flex;
  justify-content: center;
  width: 12rem;
}

.cta button {
  font-weight: 600;
  font-size: 1rem;
  padding: 12px 20px;
  height: 100%;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(90deg, var(--blue), var(--pink));
  outline: none;
  border: none;
  border-radius: 2rem;
  transition: padding 0.1s ease-in-out;
}

.cta button:hover {
  padding: 12px 30px;
  cursor: pointer;
}

.nav-links a {
  box-sizing: border-box;
  transition: all 0.3s 0s ease-in-out;
}

.nav-links li a:hover {
  font-weight: bold;
  color: #3183ab;
}

header .nav-links .nav-active a {
  font-weight: 900;
  color: #3183ab;
}

/* main heading and side image styling */
/* image styling */
.top-section {
  background-color: var(--grey);
  position: relative;
  height: 100vh;
  z-index: 1;
}
.top-section .image-container {
  position: absolute;
  height: 100vh;
  right: 0;
  width: 50%;
  background-image: url(/images/frontpage-officemeeting-01.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  /* background-color: #3183ab; */
}
.image-container img {
  /* border-radius: 50%; */
  /* width: 720px;
  height: 720px; */
  width: 720px;
  height: 720px;
  transform-origin: center left;
  /* transform: translate(100px, -80px); */
}

/* heading styling */
/* this is the entire half of the title page */
.heading-half {
  position: absolute;
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 6rem;
  /* background-color: #f37564; */
}
/* the paragraph's margin is creating a space */
.heading-half .intropara {
  margin: 1.5rem 0;
  font-size: 1.21rem;
}

.heading-half .heading {
  width: 75%;
  margin-top: 3.5rem;
  transform-origin: center left;
}
.heading .main-heading {
  line-height: 3.5rem;
  font-size: 3.5rem;
}
.heading .heading-bold {
  background: linear-gradient(90deg, var(--blue), var(--pink));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

/* cta styling */
.cta-heading {
  background-color: var(--blue);
  font-size: 1.3rem;
  border: none;
  padding: 1rem 1.5rem;
  color: var(--grey);
  border-radius: 0.5rem;
  /* margin-top: 1.2rem; */
  transition: all 0.3s ease;
}
.cta-heading:hover {
  box-shadow: 0px 6px 15px var(--blue);
}

/* story section */

.our-story {
  height: 70vh;
  width: 100%;
  padding-left: 7rem;
  display: flex;
  align-items: center;
}
.story-graphic {
  width: 40%;
  height: fit-content;
  /* border: 2px solid black; */
  /* margin-left: 4rem; */
  position: relative; /*position is kept relative so that all the absolute positioning is done
  inside this bigger div, relative works when the parent element is kept relative and children
  are kept absolute, sibling elements also work only parent*/
  display: flex;
  justify-content: center; /*the flex direction is column that's why to keep everything centered*/
  flex-direction: column;
}
.circle {
  background-color: var(--pink);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex; /*this circle contains the 'our' word and that's why we are using flex to keep everything in center*/
  align-items: center;
  justify-content: center;
  z-index: 5; /*to keep it in front*/
}
.circle h4 {
  /* our heading */
  font-size: 2.2rem;
  color: var(--grey);
  font-weight: 300;
}
.circle-depth {
  /* this is the main class for both of the back circles */
  width: 65px;
  height: 65px;
  background-color: #f375642d;
  position: absolute;
  z-index: 4;
  top: -30px;
  left: 60px;
}
.circle-sm {
  /* this sm class is going to be cascaded above the main circle-depth class */
  width: 25px;
  height: 25px;
  top: 34px;
  left: 105px;
}

.story-graphic h2 {
  font-weight: 500;
  font-size: 7rem;
  line-height: 5rem; /*to bring 'story' closer to the the above text*/
}

.our-story .company-intro {
  width: 50%; /*keeping the limited with to not let the paragraph go beyond limits*/
  height: fit-content;
}
.company-intro p {
  line-height: 1.8rem;
}
.company-intro .cta-heading {
  /* did a specific targeting and altered some properties in the already created class */
  margin-top: 2rem;
  border-radius: 0.3rem;
  padding: 0.8rem 1rem;
  background-color: var(--pink);
}
.company-intro .cta-heading:hover {
  box-shadow: 0px 6px 15px var(--pink);
}

/* story section end */

/* services section */
.services {
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}
.section-heading {
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}
.section-heading-underline {
  background-image: linear-gradient(90deg, var(--blue), var(--pink));
  width: 8rem;
  height: 0.3rem;
  border-radius: 4rem;
  margin-bottom: 3rem;
}
/* services boxes */
.services .services-container {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 2rem;
  justify-items: center; /*aligning the items to the center of each grid fr*/
  padding: 0 2rem;
}
/* general boxes styling */
.services-container .service {
  /* border: 1px solid red; */
  padding: 5rem 2rem; /*Y X*/
  width: 90%;
  transition: transform 0.3s 0.1s ease, box-shadow 0.3s 0.1s ease;
}
.service .service-icon {
  /* the icon is placed inside the div given it a specific height
  and set the height of the actual svg to 100% to take the complete
  height of it's container */
  height: 70px;
}
.service svg {
  width: 6rem;
  height: 100%;
  margin: auto auto; /*auto margin for centering*/
}
.service svg path {
  fill: var(--grey);
}

.services-container .service {
  padding-top: 6rem;
  padding-bottom: 2rem;
  border-radius: 2rem;
}
.service .service-head {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  color: var(--grey);
}
.service .service-info {
  color: var(--grey);
  font-weight: 500;
  line-height: 2rem;
}
/* changing the background colors of the individual services boxes */
.web-dev {
  background: linear-gradient(-45deg, #0a1d2085, #03404985),
    url(https://images.pexels.com/photos/1181673/pexels-photo-1181673.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: 50% 50%;
}
.mob-dev {
  background: linear-gradient(-45deg, #3c034885, #d700ff85),
    url(https://images.pexels.com/photos/193003/pexels-photo-193003.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: 50% 50%;
}
.video-anim {
  background: linear-gradient(-45deg, #00161085, #00fdb485),
    url(https://images.pexels.com/photos/257904/pexels-photo-257904.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: 50% 50%;
}
.social-media {
  background: linear-gradient(-45deg, #190e0085, #ff880085),
    url(https://images.pexels.com/photos/147413/twitter-facebook-together-exchange-of-information-147413.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: 50% 50%;
}
.graphic-design {
  background: linear-gradient(-45deg, #00000085, #fc020285),
    url(https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: 50% 50%;
}
.branding {
  background: linear-gradient(-45deg, #00000085, #89920385),
    url(https://images.pexels.com/photos/7552373/pexels-photo-7552373.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: 50% 50%;
}

.service:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(34, 34, 34, 0.514);
}

/* changing the background colors of the individual services boxes ended*/

/* testimonials styling started */
.testimonials {
  display: flex;
  align-items: center;
  width: 100%;
  /* border: 3px solid rgb(0, 162, 255); */
  flex-direction: column;
  padding-bottom: 3rem;
  position: relative;
  overflow: hidden;
}
.testimonial-container {
  display: flex;
  /* border: 1px solid red; */
  margin-top: 2rem;
  transition: transform 0.8s ease;
  z-index: 1;
}
/* .testimonial-container:active {
  transform: translateX(510px);
} */

.testimonials .arrow {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--darkgrey);
  box-shadow: 0 3px 10px #000;
  position: absolute;
  left: 3%;
  right: 100;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 6;
  transition: all 0.1s ease;
}
.testimonials .arr-right {
  left: 97%;
  transform: translate(-100%, -50%);
}
.testimonials .arrow i {
  color: #fff;
  margin: 50% 50%;
  transform: translate(-55%, -50%);
  font-size: 2rem;
}
.testimonials .arr-right i {
  transform: translate(-45%, -50%);
}
.testimonials .arrow:active {
  height: 3.2rem;
  width: 3.2rem;
}

.testimonials .vignette {
  width: 20%;
  height: 100%;
  /* background-color: #000; */
  position: absolute;
  left: 0;
  z-index: 5;
  background-image: linear-gradient(
    90deg,
    rgb(255, 255, 255, 0.575),
    rgba(255, 255, 255, 0)
  );
}
.testimonials .vig-right {
  left: 100%;
  transform: translateX(-100%);
  background-image: linear-gradient(
    -90deg,
    rgba(255, 255, 255, 0.575),
    rgba(255, 255, 255, 0)
  );
}

.testimonial-container .container {
  width: 30rem;
  height: 28rem;
  transform: scale(0.8);
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  margin: 0 1rem;
  background-color: var(--darkgrey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.5s ease;
}
.testimonial-container .test-active {
  transform: scale(1);
}
.container .client-image {
  background-image: url(/images/customertest-01.png);
  background-size: cover;
  border: 6px solid #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0%;
  left: 50%;
}
.container .testimonial-para {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 300;
  color: var(--grey);
  margin-top: 4rem;
}
.container .client-name {
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--grey);
}
